---
layout: default
menu: index
keywords:  тест
description: родословная и немного истории одной семьи
---
<div class="container content" >
  <div class="row">
    <div class="col-md-12">
      <div class="title-box-v2">
        <h2>Создание json <span class="color-green">для dtree</span></h2>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-md-12">

      {% assign data = site.data.family%}
      {% assign member = site.data.family[0] %}

      {% assign fff = member.fff %}   
      [{
        {% capture fid %}{{ fff }}{% endcapture %}
        {% include people-json.html id=fid %},
        "textClass": "emphasis",
        {% assign fffchildren = data | where: "father", fff | group_by: "mother" %}  
 {% for fffchild in fffchildren %}
       "marriages": [{
          "spouse": {
            {% capture fid %}{{ fffchild.name }}{% endcapture %}
            {% include people-json.html id=fid %},
          },
        {% assign ffchildids = fffchild.items  %}
    "children": [{
     {% for ffchildid in ffchildids %}
            {
            {% capture fid %}{{ ffchildid.id }}{% endcapture %}
            {% include people-json.html id=fid %},
            },
    {% endfor %}  
      }]   
    {% endfor %}  



    </div> 
  </div>
</div>
