---
layout: default
menu: index
keywords:  тест
description: родословная и немного истории одной семьи
---
<div class="container content" >
  <div class="row">
    <div class="col-md-12">
      <div class="title-box-v2">
        <h2>Создание json <span class="color-green">для dtree</span></h2>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-md-12">
      
            {% include plv-all.json fid="51" %}
            {% include tree-data.html %}
    </div> 
  </div>
</div>
