{% assign mdays = site.data.family| where_exp: "id", "id.birthdate contains '.'" %} 
{% assign mnow = site.time | date: "%d.%m" %}
{{ mnow  }}
{% assign ii = 0 %} 


  {% for mday in mdays %}
        
        {% assign mdate = mday | map: "birthdate" %}     
        {% assign ddate = mday | map: "deathdate" %}     
        {% assign tmdate = mdate[0] | date: "%d.%m" %}
          {% if mnow == tmdate and ddate[0]==nil%}
            {% assign ii = ii | plus: 1 %} 
              {% if ii == 1 %}
              <h2>Сегодня {{ mnow  }} и сегодняшние именинники:</h2>
              {% endif %} 
            {% capture fid %}{{ mday.id }}{% endcapture %}
              {% include people.html id=fid %}
            <hr>
          {% endif %} 
  {% endfor %}

