{% assign mdays = site.data.family| where_exp: "id", "id.birthdate contains '.'" %} 
{% assign mnow = site.time | date: "%d.%m" %}
{% assign ii = 0 %} 


  {% for mday in mdays %}
        
        {% assign mdate = mday | map: "birthdate" %}     
        {% assign tmdate = mdate[0] | date: "%d.%m" %}
          {% if mnow == tmdate %}
            {% assign ii = ii | plus: 1 %} 
            {% if ii == 1 %}
            <h2>Сегодняшние именинники:</h2>
            {% endif %} 
            {% capture fid %}{{ mday.id }}{% endcapture %}
            {% include people.html id=fid %}
            <hr>
          {% endif %} 
  {% endfor %}

