{% assign member = site.data.family[page.menu] %}

<div class="card">
  <h1>{{member.name}} {% if member.surname2 %}({{member.surname2}}){% endif %}</h1>
  <div class="row">    

    <div class="col-md-8 col-xs-12 col-sm-12">
      <div class="card-text">
        {% if member.birthdate %}<p><i><b>Дата рождения:</b></i> {{member.birthdate}}</p>{% endif %}
        <p><i><b>Отец:</b></i> <a href="{{ site.url }}/pages/{{member.f}}.html">{{member.f-name}}</a></p>
        <p><i><b>Мать:</b></i> <a href="{{ site.url }}/pages/{{member.m}}.html">{{member.m-name}}</a></p>
        <p> {{member.about}}</p>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
    {% assign links = member.photo | split: "," |first %}
    {% for img in links %}
        <a href="{{ site.url }}/assets/img/photo/{{img}}" >
          <img src="{{ site.url }}/assets/img/photo/{{img}}" width="300px">
        </a>
    {% endfor %}  
  </div>
  </div> 

  <div class="hr"></div>



  <div class="row">  
    <div class="col-md-12">
      <h3> Родословная:</h3>
      {% if member.f or member.m %}
      <div class="table-responsive">                  
        <table class="table-pedigree">
          <col width=33%>
          <col width=33%>
          <col width=33%>
          <tbody>
            <tr>
              <td colspan="1" rowspan="4" class="blck-pedigree-table">
                <div class="pedigree-name">
                  <a href="{{ site.url }}/pages/{{member.f}}.html">{{member.f-name}}</a></div>

                {% if member.f-titles %}<div class="pedigree-titles">{{member.f-titles}}</div>{% endif %}</td>
              <td colspan="1" rowspan="2">
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.ff}}.html">{{member.ff-name}}</a></div>
                {% if member.ff-titles %}<div class="pedigree-titles">{{member.ff-titles}}</div>{% endif %}</td>
              <td>
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.fff}}.html">{{member.fff-name}}</a></div>
                {% if member.fff-titles %}<div class="pedigree-titles">{{member.fff-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td>
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.ffm}}.html">{{member.ffm-name}}</a></div>
                {% if member.ffm-titles %}<div class="pedigree-titles">{{member.ffm-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td colspan="1" rowspan="2">
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.fm}}.html">{{member.fm-name}}</a></div>
                {% if member.fm-titles %}<div class="pedigree-titles">{{member.fm-titles}}</div>{% endif %}</td>
              <td>
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.fmf}}.html">{{member.fmf-name}}</a></div>
                {% if member.fmf-titles %}<div class="pedigree-titles">{{member.fmf-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td>
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.fmm}}.html">{{member.fmm-name}}</a></div>
                {% if member.fmm-titles %}<div class="pedigree-titles">{{member.fmm-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td colspan="1" rowspan="4">
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.m}}.html">{{member.m-name}}</a></div>
                {% if member.m-titles %}<div class="pedigree-titles">{{member.m-titles}}</div>{% endif %}</td>
              <td colspan="1" rowspan="2">
                <div class="pedigree-name"><a href="{{ site.url }}/pages/{{member.mf}}.html">{{member.mf-name}}</a></div>
                {% if member.mf-titles %}<div class="pedigree-titles">{{member.mf-titles}}</div>{% endif %}</td>
              <td>
                <div class="pedigree-name"><a href="{{ site.url }}/pages/{{member.mff}}.html">{{member.mff-name}}</a></div>
                {% if member.mff-titles %}<div class="pedigree-titles">{{member.mff-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td><div class="pedigree-name"><a href="{{ site.url }}/pages/{{member.mfm}}.html">{{member.mfm-name}}</a></div>
                {% if member.mfm-titles %}<div class="pedigree-titles">{{member.mfm-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td colspan="1" rowspan="2">
                <div class="pedigree-name"><a href="{{ site.url }}/pages/{{member.mm}}.html">{{member.mm-name}}</a></div>
                {% if member.mm-titles %}<div class="pedigree-titles">{{member.mm-titles}}</div>{% endif %}</td>
              <td>
                <div class="pedigree-name"><a href="{{ site.url }}/pages/{{member.mmf}}.html">{{member.mmf-name}}</a></div>
                {% if member.mmf-titles %}<div class="pedigree-titles">{{member.mmf-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td><div class="pedigree-name"><a href="{{ site.url }}/pages/{{member.mmm}}.html">{{member.mmm-name}}</a></div>
                {% if member.mmm-titles %}<div class="pedigree-titles">{{member.mmm-titles}}</div>{% endif %}</td>
            </tr>
          </tbody>
        </table>
      </div>
       {% else %} 
      <h5>Данных о родителях нет</h5>
      {% endif %}
    </div>  
  </div> 
 
{% if (member.spouse_all and member.spouse_all!= "#N/A" and member.spouse_all != "FALSE" and member.spouse_all != "0" )  %}  
  {% assign spa = member.spouse_all | split: ","  %}
    {% assign counta = spa  | size  %}
  
  <h2>Супруги ({{counta}})</h2>
  <ul>
  {% for sp1 in spa %}
        {% if  sp1 != nil %} 
       {% assign people = site.data.family | where: "id", sp1 | map: "name" %}      
        <li><a href="{{ site.url }}/pages/{{sp1}}.html">{{people}}</a></li>
        {% endif %} 
  {% endfor %}
  </ul>  
{% endif %} 
  
{% if member.children and member.children != "#N/A" and member.children != "FALSE"  %}  
  {% assign childs = member.children | split: ","  %}
    {% assign count = childs  | size  %}
  
  <h2>Дети ({{count}})</h2>
  <ul>
  {% for child in childs %}
       {% assign people = site.data.family | where: "id", child | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{child}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>  
{% endif %} 
 
{% if member.sibs % and member.sibs != "#N/A" and member.sibs != "FALSE" %}    
  {% assign sibs = member.sibs | split: ","  %}
    {% assign count = sibs  | size  %}
  <h2>Родные братья и сестры ({{count}})</h2>
  <ul>
  {% for sib in sibs %}
       {% assign people = site.data.family | where: "id", sib | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{sib}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>  
{% endif %} 
  
  
{% if member.stepsibs and member.stepsibs != "#N/A"  and member.stepsibs != "FALSE" %}    
  {% assign ssibs = member.stepsibs | split: ","  %}
    {% assign count = ssibs  | size  %}
   <h2>Сводные братья и сестры ({{count}})</h2>
  <ul>
  {% for stepsib in ssibs %}
       {% assign people = site.data.family | where: "id", stepsib | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{stepsib}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>   
{% endif %}   
  
{% if member.twins and member.twins != "#N/A"  and member.twins != "FALSE" %}  
  {% assign twins = member.twins | split: ","  %}
    {% assign count = twins  | size  %}
   <h2>Двоюродные братья и сестры ({{count}})</h2>
  <ul>
  {% for twin in twins %}
       {% assign people = site.data.family | where: "id", twin | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{twin}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>   
{% endif %} 
  
{% if member.nephews and member.nephews != "#N/A"  and member.nephews != "FALSE" %}  
  {% assign nephews = member.nephews | split: ","  %}
    {% assign count = nephews  | size  %}
   <h2>Племянники ({{count}})</h2>
  <ul>
  {% for nephew in nephews %}
       {% assign people = site.data.family | where: "id", nephew | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{nephew}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>   
{% endif %}
  
{% if member.uncles and member.uncles != "#N/A"  and member.uncles != "FALSE" %}  
    {% assign uncles = member.uncles | split: ","  %}
    {% assign count = uncles | size  %}
   <h2>Дяди и тети ({{count}})</h2>
  
  <ul>
  {% for uncle in uncles %}
       {% assign people = site.data.family | where: "id", uncle | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{uncle}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>   
{% endif %}
  

  
  
  
  
{% assign links = member.photo | split: "," %}
{% if member.photo %}  
  <h3>Фотоальбом:</h3>
  <div class="photo">
    {% for img in links %}
        <a href="{{ site.url }}/assets/img/photo/{{img}}" class="thickbox">
          <img src="{{ site.url }}/assets/img/photo/{{img}}" class="img-fluid" width="350px">
        </a>
    {% endfor %}     
  </div>
{% endif %}     




