{% assign member = site.data.family[page.menu] %}

<div class="card">
  <h1>{{member.name}} {% if member.surname2 %}({{member.surname2}}){% endif %}</h1>
  <div class="row">    

    <div class="col-md-8 col-xs-12 col-sm-12">
      <div class="card-text">
        {% if member.deathdate and member.birthdate %}
        <p><b>&#8224; Годы жизни:</b> {{member.birthdate}} - {{member.deathdate}}</p>
        {% elsif member.birthdate %}
        <p><b>Дата рождения:</b> {{member.birthdate}}</p>
        {% elsif member.deathdate %}
        <p><b>&#8224; Дата смерти:</b> {{member.deathdate}}</p>

        {% endif %}


        <p> {{member.about}}</p>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
    {% assign links = member.photo | split: "," |first %}
    {% for img in links %}
        <a href="{{ site.url }}/assets/img/photo/{{img}}" >
          <img src="{{ site.url }}/assets/img/photo/{{img}}" width="300px">
        </a>
    {% endfor %}  
  </div>
  </div> 

  <div class="hr"></div>



  <div class="row">  
    <div class="col-md-12">
      <h3> Родословная:</h3>
      {% if (member.f and member.f !="0") or (member.m and member.m !="0") %}
      <div class="table-responsive">                  
        <table class="table-pedigree">
          <col width=33%>
          <col width=33%>
          <col width=33%>
          <tbody>
            <tr>
              <td colspan="1" rowspan="4" class="blck-pedigree-table">
                  {% capture fid %}{{ member.f }}{% endcapture %}
                  {% include people.html id=fid %}
                </td>
              <td colspan="1" rowspan="2">
                  {% capture fid %}{{ member.ff }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
              <td>
                  {% capture fid %}{{ member.fff }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
            </tr>
            <tr>
              <td>
                  {% capture fid %}{{ member.ffm }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
            </tr>
            <tr>
              <td colspan="1" rowspan="2">
                  {% capture fid %}{{ member.fm }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
              <td>
                  {% capture fid %}{{ member.fmf }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
            </tr>
            <tr>
              <td>
                  {% capture fid %}{{ member.fmm }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
            </tr>
            <tr>
              <td colspan="1" rowspan="4">
                  {% capture fid %}{{ member.m }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
              <td colspan="1" rowspan="2">
                  {% capture fid %}{{ member.mf }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
              <td>
                  {% capture fid %}{{ member.mff }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
            </tr>
            <tr>
              <td>
                  {% capture fid %}{{ member.mfm }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
            </tr>
            <tr>
              <td colspan="1" rowspan="2">
                  {% capture fid %}{{ member.mm }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
              <td>
                  {% capture fid %}{{ member.mmf }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
            </tr>
            <tr>
              <td>
                  {% capture fid %}{{ member.mmm }}{% endcapture %}
                  {% include people.html id=fid %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
       {% else %} 
      <h5>Данных о родителях нет</h5>
      {% endif %}
    </div>  
  </div> 
 
{% if (member.spouse_all and member.spouse_all != "#N/A" and member.spouse_all != "FALSE" and member.spouse_all != "0" )  %}  
  {% assign spa = member.spouse_all | split: ","  %}
    {% assign counta = spa  | size  %}
  
  <h2>Супруги ({{counta}})</h2>
  <ul>
  {% for sp1 in spa %}
        {% if  sp1 != nil %} 
       {% assign people = site.data.family | where: "id", sp1 | map: "name" %}      
        <li><a href="{{ site.url }}/pages/{{sp1}}.html">{{people}}</a></li>
        {% endif %} 
  {% endfor %}
  </ul>  
{% endif %} 
  
{% if member.children and member.children != "#N/A" and member.children != "FALSE"  %}  
  {% assign childs = member.children | split: ","  %}
    {% assign count = childs  | size  %}
  
  <h2>Дети ({{count}})</h2>
  <ul>
  {% for child in childs %}
       {% assign people = site.data.family | where: "id", child | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{child}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>  
{% endif %} 
  

{% if member.grandchildren and member.grandchildren != "#N/A" and member.grandchildren != "FALSE"  %}  

  {% assign grchilds = member.grandchildren | split: ","  %}
    {% assign count = grchilds  | size  %}
  
  <h2>Внуки ({{count}})</h2>
     
  <ul>
  {% for grchild in grchilds %}
       {% assign people = site.data.family | where: "id", grchild | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{grchild}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>  
{% endif %} 
  
{% if member.grandgrandchildren and member.grandgrandchildren != "#N/A" and member.grandgrandchildren != "FALSE"  %}  
  {% assign grgrchilds = member.grandgrandchildren | split: ","  %}
    {% assign count = grgrchilds  | size  %}
  
  <h2>Правнуки ({{count}})</h2>
  <ul>
  {% for grgrchild in grgrchilds %}
       {% assign people = site.data.family | where: "id", grgrchild | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{grgrchild}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>  
{% endif %}  
 
{% if member.sibs % and member.sibs != "#N/A" and member.sibs != "FALSE" %}    
  {% assign sibs = member.sibs | split: ","  %}
    {% assign count = sibs  | size  %}
  <h2>Родные братья и сестры ({{count}})</h2>
  <ul>
  {% for sib in sibs %}
       {% assign people = site.data.family | where: "id", sib | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{sib}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>  
{% endif %} 
  
  
{% if member.stepsibs and member.stepsibs != "#N/A"  and member.stepsibs != "FALSE" %}    
  {% assign ssibs = member.stepsibs | split: ","  %}
    {% assign count = ssibs  | size  %}
   <h2>Сводные братья и сестры ({{count}})</h2>
  <ul>
  {% for stepsib in ssibs %}
       {% assign people = site.data.family | where: "id", stepsib | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{stepsib}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>   
{% endif %}   
  
  
{% if member.nephews and member.nephews != "#N/A"  and member.nephews != "FALSE" %}  
  {% assign nephews = member.nephews | split: ","  %}
    {% assign count = nephews  | size  %}
   <h2>Племянники ({{count}})</h2>
  <ul>
  {% for nephew in nephews %}
       {% assign people = site.data.family | where: "id", nephew | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{nephew}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>   
{% endif %}

{% if member.twins and member.twins != "#N/A"  and member.twins != "FALSE" %}  
  {% assign twins = member.twins | split: ","  %}
    {% assign count = twins  | size  %}
   <h2>Двоюродные братья и сестры ({{count}})</h2>
  <ul>
  {% for twin in twins %}
       {% assign people = site.data.family | where: "id", twin | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{twin}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>   
{% endif %} 
  
{% if member.nephews-2 and member.nephews-2 != "#N/A"  and member.nephews-2 != "FALSE" %}  
  {% assign nephews-2 = member.nephews-2 | split: ","  %}
    {% assign count = nephews-2  | size  %}
   <h2>Двоюродные племянники ({{count}})</h2>
  <ul>
  {% for n2 in nephews-2 %}
       {% assign people = site.data.family | where: "id", n2 | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{n2}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>   
{% endif %}  
  
{% if member.uncles and member.uncles != "#N/A"  and member.uncles != "FALSE" %}  
    {% assign uncles = member.uncles | split: ","  %}
    {% assign count = uncles | size  %}
   <h2>Дяди и тети ({{count}})</h2>
  
  <ul>
  {% for uncle in uncles %}
       {% assign people = site.data.family | where: "id", uncle | map: "name" %}
        <li><a href="{{ site.url }}/pages/{{uncle}}.html">{{people}}</a></li>
  {% endfor %}
  </ul>   
{% endif %}
  
  
{% assign links = member.photo | split: "," %}
  
  
{% if member.photo %}  
  <h3>Фотоальбом:</h3>
{% if member.comment %}<p>{{member.comment}}</p>{% endif %}   
  <div class="photo">
    {% for img in links %}
        <a href="{{ site.url }}/assets/img/photo/{{img}}" class="thickbox">
          <img src="{{ site.url }}/assets/img/photo/{{img}}" class="img-fluid" width="350px">
        </a>
    {% endfor %}     
  </div>
{% endif %}     




