{% assign member = site.data.family[page.menu] %}

<div class="card">
  <h1>{{member.name}}</h1>
  <div class="row">
    <div class="col-md-4 col-xs-12 col-sm-12">
  {% if member.photo %}     
    {% assign links = member.photo | split: ', '%}
    {% for img in links %}
        <a href="{{ site.url }}/assets/img/photo/{{member.photo}}" class="thickbox" width=300>
          <img src="{{ site.url }}/assets/img/photo/{{member.photo}}" class="img-fluid">
        </a>
    {% endfor %}         
  {% endif %}       
      </div>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12">
      <div class="card-text">
        <p><i><b>Дата рождения:</b></i> {{member.birthdate}}</p>
        <p><i><b>Отец:</b></i> <a href="{{ site.url }}/pages/{{member.f}}.html">{{member.f-name}}</a></p>
        <p><i><b>Мать:</b></i> <a href="{{ site.url }}/pages/{{member.m}}.html">{{member.m-name}}</a></p>
        <p> {{member.about}}</p>
      </div>
    </div>
  </div> 


 {% if member.litters %}
  <div class="row">  
    <div class="col-md-12">
      <h3> Пометы:</h3>
      <p> {% for litter in member.litters %}
      <a href="{{ site.url }}/litters/{{litter.link}}">Помет "{{litter.name}}"</a>&nbsp;</p>
    </div>  
  </div>     
 {% endfor %}
      
<h3>111</h3>

<div class="container content  entry-content" >
  <div class="row">
    <div class="col-md-12">     
      {% assign litters = site.data.family | group_by_exp:'f', 'm'| sort:"name" }} %}  
        {% for litter in litters %}
           <h3 class="catalog">{{litter.name}}<h3>           

     
      {% endfor %}  <!-- breed-->    
      </div>
  </div>
</div>         
      





      
  {% endif %} 
  
  <div class="hr"></div>

  <div class="row">  
    <div class="col-md-12">
      <h3> Родословная:</h3>
      <div class="table-responsive">                  
        <table class="table-pedigree">
          <col width=33%>
          <col width=33%>
          <col width=33%>
          <tbody>
            <tr>
              <td colspan="1" rowspan="4" class="blck-pedigree-table">
                <div class="pedigree-name">
                  <a href="{{ site.url }}/pages/{{member.f}}.html">{{member.f-name}}</a></div>
                {% if member.f-titles %}<div class="pedigree-titles">{{member.f-titles}}</div>{% endif %}</td>
              <td colspan="1" rowspan="2">
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.ff}}.html">{{member.ff-name}}</a></div>
                {% if member.ff-titles %}<div class="pedigree-titles">{{member.ff-titles}}</div>{% endif %}</td>
              <td>
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.fff}}.html">{{member.fff-name}}</a></div>
                {% if member.fff-titles %}<div class="pedigree-titles">{{member.fff-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td>
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.ffm}}.html">{{member.ffm-name}}</a></div>
                {% if member.ffm-titles %}<div class="pedigree-titles">{{member.ffm-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td colspan="1" rowspan="2">
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.fm}}.html">{{member.fm-name}}</a></div>
                {% if member.fm-titles %}<div class="pedigree-titles">{{member.fm-titles}}</div>{% endif %}</td>
              <td>
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.fmf}}.html">{{member.fmf-name}}</a></div>
                {% if member.fmf-titles %}<div class="pedigree-titles">{{member.fmf-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td>
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.fmm}}.html">{{member.fmm-name}}</a></div>
                {% if member.fmm-titles %}<div class="pedigree-titles">{{member.fmm-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td colspan="1" rowspan="4">
                <div class="pedigree-name"> <a href="{{ site.url }}/pages/{{member.m}}.html">{{member.m-name}}</a></div>
                {% if member.m-titles %}<div class="pedigree-titles">{{member.m-titles}}</div>{% endif %}</td>
              <td colspan="1" rowspan="2">
                <div class="pedigree-name"><a href="{{ site.url }}/pages/{{member.mf}}.html">{{member.mf-name}}</a></div>
                {% if member.mf-titles %}<div class="pedigree-titles">{{member.mf-titles}}</div>{% endif %}</td>
              <td>
                <div class="pedigree-name"><a href="{{ site.url }}/pages/{{member.mff}}.html">{{member.mff-name}}</a></div>
                {% if member.mff-titles %}<div class="pedigree-titles">{{member.mff-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td><div class="pedigree-name"><a href="{{ site.url }}/pages/{{member.mfm}}.html">{{member.mfm-name}}</a></div>
                {% if member.mfm-titles %}<div class="pedigree-titles">{{member.mfm-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td colspan="1" rowspan="2">
                <div class="pedigree-name"><a href="{{ site.url }}/pages/{{member.mm}}.html">{{member.mm-name}}</a></div>
                {% if member.mm-titles %}<div class="pedigree-titles">{{member.mm-titles}}</div>{% endif %}</td>
              <td>
                <div class="pedigree-name"><a href="{{ site.url }}/pages/{{member.mmf}}.html">{{member.mmf-name}}</a></div>
                {% if member.mmf-titles %}<div class="pedigree-titles">{{member.mmf-titles}}</div>{% endif %}</td>
            </tr>
            <tr>
              <td><div class="pedigree-name"><a href="{{ site.url }}/pages/{{member.mmm}}.html">{{member.mmm-name}}</a></div>
                {% if member.mmm-titles %}<div class="pedigree-titles">{{member.mmm-titles}}</div>{% endif %}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>  
  </div>     

  

  <h3>Фотоальбом:</h3>
  
  <div class="pet-photo">
    {% for ph in member.photo %}
    <a class="js-fancybox" href="javascript:;"  data-src="{{ site.url }}/assets/photos/{{ph.img}}" data-animate-in="zoomIn" data-animate-out="zoomOut" data-speed="1000" data-overlay-bg="rgba(0, 0, 0, 1)">
      <img class="img-fluid gallery-img" src="{{ site.url }}/assets/photos/{{ph.img}}">
    </a>
  {% endfor %}
    </div>
  
  {% assign links = member.photo | split: ', '%}
  {% for img in links %}
    <a href="{{ site.url }}/assets/img/photo/{{member.photo}}" class="thickbox" width=300>
      <img src="{{ site.url }}/assets/img/photo/{{member.photo}}" class="img-fluid">
    </a>
  {% endfor %} 
  
</div>





