{% assign data = site.data.family | where: "id", include.id  %}  
{% assign name = data | map: "name" %}      
{% assign bdate = data | map: "birthdate" %}      
{% assign ddate = data | map: "deathdate"  %}      
{% assign photo = data | map: "photo" %}      
{% assign gender = data | map: "gender" %}      
"name": "{{ name }}",
"class": "gender-{{gender}}",
{% if bdate[0] == nil and ddate[0] == nil %}  
"extra": {
  "nickname": ""
}
{%elsif bdate[0] != nil and ddate[0] == nil%} 
"extra": {
  "nickname": "р. {{bdate[0]}}"
}
{%elsif ddate[0] != nil and bdate[0] == nil%} 
"extra": {
  "nickname": " &#8224; у. {{ddate[0]}}"
}
{%elsif bdate[0] != nil and ddate[0] != nil %} 
"extra": {
  "nickname": " &#8224; {{bdate[0]}} &mdash; {{ddate[0]}}"
}
{% endif %}  